body(onload="initialize()")
 
  #map-canvas
  .lngLat
    span.one Lat
    span.two ,Lng
button#clipboard-btn(onclick="copyToClipboard(document.getElementById('info').innerHTML)") Copy to Clipboard
textarea#info

<script async defer src="https://maps.googleapis.com/maps/api/js?key= AIzaSyDz21nCFSgov3CX1oN2pdUP8Zg5VvIsh7o&callback=initMap" type="text/javascript"> </script>
